@model TradeWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    nav {
        display: none !important;
    }

    .mh-100 {
        min-height: 100vh;
    }

    body {
        padding-top: 0px !important;
    }
</style>
<div class="row mh-100 align-items-stretch mbl-reverse">
    <div class="col-md-5 align-self-center " data-aos="fade-right">
        <div class="p-5">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal py-5", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class=" mb-2">Create a new account.</h4>
                <hr class="mb-5 " />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = " col control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col  control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="color1-btn" value="Register" />
                    </div>
                </div>
            }

            <p class="col">Already have an account? <a class="color1" href="https://localhost:44315/Account/Login"> Sign In here</a></p>
        </div>
    </div>
    <div class="col-md-7 color1-overlay d-flex align-items-center bg-regular  opacity-50" data-aos="fade-left" style="min-height:300px;background-image:url(https://picsum.photos/1920/1280)">
        <div class="position-relative p-5">
            <h2 class="text-white display-1">Welcome!</h2>
            <h4 class="text-white">Create an account here.</h4>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery.validator.setDefaults({
            onfocusout: function (e) {
                this.element(e);
            },
            //onkeyup: false,
            highlight: function (element) {
                jQuery(element).closest('.form-control').addClass('is-invalid');
            },
            unhighlight: function (element) {
                jQuery(element).closest('.form-control').removeClass('is-invalid');
                jQuery(element).closest('.form-control').addClass('is-valid');
            },

            errorElement: 'div',
            errorClass: 'invalid-feedback',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group-prepend').length) {
                    $(element).siblings(".invalid-feedback").append(error);
                    //error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
        });

    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({ duration: 600 });
    </script>
}
