
@{
    ViewBag.Title = "Index";
}
@{
    var Cover = Model.Post.CoverId;
}

<style>
    .d-flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }
</style>
<h2 class=" p-3" style="margin-top:50px;">Posted By @Model.UserName</h2>

<div class="d-flex flex-wrap">
    @foreach (var Image in Model.Media)
    {
        var ImagePath = "../../Images/" + Image.FilePath;
        if (Image.MediaId == Cover)
        {
            <div class="p-2 order-1" style="width:100%">
                Cover
                <img src="@ImagePath" style="max-width:300px;" />
            </div>
        }

        else
        {
            <img class="order-2" src="@ImagePath" style="max-width:300px;" />
        }
    }
</div>
<div class="mt-5">
    <h3>Category: @Model.Post.CategoryName</h3>

    <p>@Model.Post.PostDescription</p>
    <p>@Model.Post.TradeDemands</p>
   
</div>
@Html.Partial("_CommentForm", new ViewDataDictionary { { "PostId", Model.Post.PostId }  })

<div>

    <h2>All comments</h2>
    @foreach (var c in Model.Comments)
    {
       <div><span>@c.UserId</span> @c.Content</div>
    }
</div>